@font-face {
  font-family: 'iconfont';  /* project id 1388266 */
  src: url('https://at.alicdn.com/t/font_1388266_p7wjjfp5e2c.eot');
  src: url('https://at.alicdn.com/t/font_1388266_p7wjjfp5e2c.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1388266_p7wjjfp5e2c.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1388266_p7wjjfp5e2c.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1388266_p7wjjfp5e2c.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1388266_p7wjjfp5e2c.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e642";
}

.icon-edit:before {
  content: "\e938";
}

.icon-gongsi:before {
  content: "\e60e";
}

.icon-collect1:before {
  content: "\e627";
}

.icon-location:before {
  content: "\e78d";
}

.icon-phone07:before {
  content: "\e64d";
}

.icon-iconset0413:before {
  content: "\e724";
}

.icon-i-back:before {
  content: "\e605";
}

.icon-up1:before {
  content: "\e60a";
}

.icon-down1:before {
  content: "\e61c";
}

.icon-collect2:before {
  content: "\e64e";
}

.icon-share1:before {
  content: "\e661";
}

.icon-message:before {
  content: "\e6aa";
}

.icon-liulan:before {
  content: "\e606";
}

.icon-share2:before {
  content: "\e61d";
}

.icon-check1:before {
  content: "\e6d8";
}

.icon-back:before {
  content: "\e609";
}

.icon-aui-icon-location:before {
  content: "\e617";
}

.icon-delete:before {
  content: "\e63f";
}

.icon-share:before {
  content: "\e87e";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-wechat2:before {
  content: "\e621";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-zan2:before {
  content: "\e61b";
}

.icon-message1:before {
  content: "\e622";
}

.icon-icon_warning:before {
  content: "\e6b6";
}

.icon-correct-c:before {
  content: "\e767";
}

.icon-safety:before {
  content: "\e77a";
}

.icon-wechat4:before {
  content: "\e602";
}

.icon-wechat-friend:before {
  content: "\e601";
}

.icon-question:before {
  content: "\e685";
}

.icon-friend:before {
  content: "\e735";
}

.icon-friend-fill:before {
  content: "\e73e";
}

.icon-gonggao:before {
  content: "\e629";
}

.icon-jiantou_shangxiaqiehuan_o:before {
  content: "\eb90";
}

.icon-scan:before {
  content: "\e64f";
}

.icon-icon-:before {
  content: "\e716";
}

.icon-check:before {
  content: "\e628";
}

.icon-qrcode:before {
  content: "\e60d";
}

.icon-error:before {
  content: "\e6c6";
}

.icon-ic_wechat:before {
  content: "\e624";
}

.icon-gongsi1:before {
  content: "\e769";
}

.icon-add:before {
  content: "\e626";
}

.icon-dislike:before {
  content: "\e6ee";
}

.icon-down:before {
  content: "\e6f0";
}

.icon-up:before {
  content: "\e74d";
}

.icon-baseline-home-px:before {
  content: "\e619";
}

.icon-zan:before {
  content: "\e65d";
}

